// Colors
$black: #000;
$gray-dark: #333;
$gray-medium: #555;
$gray-light: #777;
$white: #fff;
$purple: #aaf;
$purple-light: #ccf;
$purple-lightest: #ddf;

// Variables
$fonts: 'Courier New', Courier, monospace;
$border: 1px solid $gray-medium;

body {
  margin: 0;
  background-color: $gray-dark;
  color: $white;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $gray-medium;
  border-top: 0;
  border-left: 0;
  border-right: $border;
  border-bottom: $border;
  border-bottom-right-radius: 6px;
  box-shadow: $black 0 0 15px;
  font-family: $fonts;

  h1 {
    margin: 0 10px;
    font-size: 20px;
  }

  td {
    text-align: center;

    .label {
      width: 80px;
    }

    .label,
    .result {
      text-align: right;
    }
  }

  button {
    width: 80%;
    background-color: $purple-light;
    color: darken($gray-medium, 20%);
    text-align: center;
    font-family: $fonts;
    font-weight: normal;
    font-size: 12px;
    border: $border;
    transition: width 0.5s, background-color 0.5s;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      background-color: $purple-lightest;
      width: 85%;
      transition: width 0.5s, background-color 0.5s;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.clicky {
  position: absolute;
  border-radius: 50%;
  background-color: $purple;
  border: $border;
  box-shadow: $black 0 0 15px;

  &:hover {
    cursor: pointer;
  }
}
